body{
    margin: 0;
}
/*global styles*/
li,a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

/* containts the nav links and tha logo*/
.containerOne{
    background-color: var(--primary-color);
    padding:var(--padding-main);
    margin: 0; 
    color: var(--text-primary)!important;
}

.navclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.pageNameInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* section 2*/
.infoContainerTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-main);
    margin:var(--cards-margin);
}
.essentials{
    box-shadow: var(--cards-box-shadow);
    border-radius: 10px;
    padding: var(--cards-padding);
    margin: var(--cards-margin);
    color: #333;
}
