body{
    margin: 0;
}
/*section 1*/
nav a{
    text-decoration: none;
    color: var(--text-primary);

}
.containerOne{
    background-color: var(--primary-color);
    padding: 0 100px 0 100px;
    margin: 0;
    color: var(--text-primary)!important;
}

.navclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.pageNameInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* section 2*/
li{
    list-style-type: none;
}
.infoContainerTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}